<ng-container [ngSwitch]="tag">
  <ng-container *ngSwitchCase="'input'">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'text'">
        <mat-form-field appearance="outline">
          <mat-label>{{label}}</mat-label>
          <input matInput placeholder="Placeholder" type="text" #text (keyup)="onGetValueInput(text.value)">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
        <mat-form-field appearance="outline">
          <mat-label>{{label}}</mat-label>
          <input matInput placeholder="********" [type]="isShowPassword ? 'text' : 'password'" #password (keyup)="onGetValueInput(password.value)" required>
          <button mat-icon-button matSuffix (click)="isShowPassword = !isShowPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isShowPassword">
            <mat-icon>{{isShowPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        number
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        <mat-form-field appearance="outline" [ngClass]="isEmail?'border-error':'input'">
          <mat-label>{{label}}</mat-label>
          <input matInput placeholder="Ex. pat@example.com" #email type="email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" (keyup)="onGetValueInput(email.value)" required>
          <mat-hint *ngIf="isEmail" [ngClass]="{'text-error':isEmail}">{{getErrorMessage(email.value)}}</mat-hint>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        date
      </ng-container>
      <ng-container *ngSwitchCase="'datetime-local'">
        datetime-local
      </ng-container>
      <ng-container *ngSwitchCase="'search'">
        search
      </ng-container>
      <ng-container *ngSwitchCase="'tel'">
        tel
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'textarea'"></ng-container>
</ng-container>
